
    .header__text
    {
        font-size: 2.4em;
    }
    
    .header__text-background
    {
        height: 3.3em;
    }
    
    .artpiece__title
    {
        font-size: 0.8em;
    }


    
 
