@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@viewport
{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport
{
    zoom: 1.0;
    width: extend-to-zoom;
}

/***********************/
/* header and nav bar */
/*********************/
    #header
    {
        position: relative;
        box-shadow: 0 .2em .3em 0 rgba(0,0,0,0.3);
    }
    #nav, #header
    {
        margin: 0 0.4%;
        /*background: #F0F0F0;*/
    }
    #nav
    {
        z-index: 800;
        width: 100%;
        line-height: 2em;
        background: rgba(250,250,250,0.75);
        /*background: rgba(220,220,220,.7);*/
        background-origin: padding-box;
    }
    #nav-spacer:before
    {
        content: "";
        display: block;
        padding-top: 1.9em;
    }
    .nav-choice--unselected, .nav-choice--selected
    {
        margin-right: 6%;
    }
    .nav-choice--unselected
    {
        color: #535353;
        cursor: pointer;
    }
    .nav-choice--selected
    {
        font-weight: 400;
        font-size: 105%;
    }
    
    .header__image
    {
        position: absolute;
        top: 0;
        left: 0;      
    } 
    
    .header__text-background
    {
        position: absolute;
        bottom: 10%;
        width: 100%;
        height: 3.8em;
        background: rgba(255,255,255,0.7);
    }
    
    .header__text
    {
        position: absolute;
        bottom: 10%;
        right: 3%;
        font-size: 2.85em;
        font-weight: 600;
    }
    
        .header__text em
        {
            color: #666666;
            font-weight: 300;
            font-style: normal;
            text-align: right;
        }

/*********************/
/* art display area */
/*******************/
    #main
    {
       /* box-shadow: inset 0 .25em .2em 0 rgba(0,0,0,0.1);*/
    }
    
    .artpiece
    {
        padding: 2% 2% 10% 2%;
        line-height: 1em;
        width: 100%;
        font-weight: 400;
        color: #333333;
        position: absolute;
        top:      0;
        left:     0;
        bottom:   0;
        right:    0;
    }
    .artpiece__picture-box{
        position: relative;
    }
    .artpiece__picture-box:before{
        content: "";
        display: block;
        padding-top: 110%;
    }
    .artpiece__image
    {
        height: 85%;
    }
    .artpiece__title
    {
        font-size: 0.9em;
    }
    .artpiece__price, .artpiece__size, .artpiece__medium
    {
        font-size: 0.7em;   
    }
    .artpiece__size, .artpiece__medium
    {
        padding: 0 0 0 1em;
    }
    
    
/******************/
/* popup styling */
/****************/    
    .poptrox-popup
    {
        background: #ffffff;
        color: #000000;
        padding: 10px;
        padding-bottom: 60px;
    }
    .caption
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 60px;
        line-height: 60px;
    }
    .nav-next, .nav-previous
    {
        font-size: 60px;
        text-align: center;
        color: #333333;
        text-shadow: none;
        height: 100%;
        width: 100px;
        position: absolute;
        top: 0;
        opacity: 0.2;
        cursor: pointer;
        box-shadow: inset 0 0 10px 0 rgba(0,0,0,0);
        line-height: 100%;
        user-select: none;
    }    
    .nav-next
    {
        right: 0;
    }
    .nav-next:empty:after{
        content: ">";
        width: 100px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .nav-previous
    {
        left: 0;
    }
    .nav-previous:empty:after{
        content: "<";
        width: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
    }    
    
    

    
/* Basic */

	body
	{
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 100%;
        color: #333333;
	}
	
	body, html
	{
        height: 100%;
	    background: rgba(250,250,250,1);
	}
	

	a
	{
		text-decoration: underline;
	}
	
	a:hover
	{
		text-decoration: none;
	}


	p.aboutrose
	{
	    padding: 0 .2em .5em .2em;
	    
	}

		
	
	.image
		{
			display: inline-block;
			border: 0;
			max-width: 100%;
		}
		
		.image.banner
			{
				display: block;
				
			}
		.image.headshot
			{
				max-height: 100%;
				padding-top: .5em;
			}
		.image.artwork
			{
			    max-height: 100%;
			    box-shadow: 0 .1em .15em 0 rgba(0,0,0,0.4);
			}
	
	.feature-image
	{
		display: block;
		margin: 0 0 2em 0;
		outline: 0;
	}
	
		.feature-image img
		{
			display: block;
			width: 100%;
		}

	.bordered-feature-image
	{
		display: block;
		background: #fff url('images/bg04.png');
		padding: 10px;
		box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);
		margin: 0 0 1.5em 0;
		outline: 0;
	}
	
		.bordered-feature-image img
		{
			display: block;
			width: 100%;
		}
	
